{% extends 'base.html.twig' %}

{% block title %}Room #
	{{room.id}}
{% endblock %}

{% block body %}
	<turbo-frame id="room" target="_top">


		<h1>Name :
			{{room.name}}
		</h1>

		<p>
			<a data-turbo-frame="room" href="{{path('app_rooms_edit',{'id':room.id})}}">Edit</a>
			<a href="{{path('app_rooms_index')}}">Back</a>
		</p>

	</turbo-frame>

</turbo-frame>
{# <p>{{ 'now'|date('d/m/Y H:i:s','Europe/Paris') }}</p> #}

{% for message in room.messages %}
	<div>{{message.createdAt|date('d M H:i','Europe/Paris')}}:{{message.content}}</div>
{% endfor %}


<turbo-frame id="new_message" src="{{path('app_messages_new',{'room':room.id})}}" target="_top" autoscroll data-turbo-cache="false">
	Loading...
</turbo-frame>{% endblock %}
